
<table>
  <tr><th colspan='2'>Estad&iacute;sticas</th></tr>
  <tr><td>#Preguntas:</td><td><%=statistics.quizes%></td></tr>
  <tr><td>#Preguntas comentadas:</td><td><%=statistics.commented%></td></tr>
  <tr><td>#Preguntas no comentadas:</td><td><%=statistics.uncommented%></td></tr>
  <tr><td>#Comentarios total:</td><td><%=statistics.comments%></td></tr> 
  <tr><td>#Comentarios por pregunta:</td><td><%=statistics.commentsByQuiz.toFixed(2)%></td></tr>
</table>